# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# NuGet
*.nupkg
*.snupkg
**/packages/*

# IDE
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
.idea/

# OS
.DS_Store
Thumbs.db

# Temp
*.tmp
*.temp
temp/
